# Generating folders
**/node_modules
**/dist

# Environment folders
.idea
**/_DS_Store

# Local configuration files
**/.env
**/*.env

# logs
app/logs

# coverage
coverage/

# Added by cargo
/target

# Python
.venv

# sqlite db
prover_backend_db

# files saved
models/
inference_result/